.stepper {
  display: flex;
  justify-content: space-evenly;

  @include mediaquery--mobile() {
    flex-direction: column;
  }
}

.step {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;

  @include mediaquery--mobile() {
    flex-direction: row;
    padding: 16px 12px;
  }

  &:hover,
  &:active {
    background-color: $cl-black8;
  }

  &__label {
    margin-top: 22px;
    color: $cl-black38;
    text-align: center;
    // word-break: break-all;

    @include mediaquery--mobile() {
      margin-top: 0;
      margin-left: 24px;
    }
  }

  &__order {
    @include font-desk-body-sm();
    color: $cl-primary-dark;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid $cl-primary-light;
  }

  &__tail {
    position: absolute;
    height: 2px;
    width: calc(50% - 10px);
    top: 25px; // 20 + 5
    background-color: $cl-primary-light;

    @include mediaquery--mobile() {
      width: 2px;
      height: calc(50% - 10px);
    }

    &--before {
      left: 0;

      @include mediaquery--mobile() {
        left: 21px; // 12 + 10 - 1
        top: 0;
      }
    }

    &--after {
      left: calc(50% + 10px);

      @include mediaquery--mobile() {
        left: 21px;
        top: 36px; // 16 + 20
      }
    }
  }

  &.is-visited,
  &.is-activated {
    .step__order {
      background-color: $cl-primary;
      border-color: $cl-primary;
      color: $cl-white;
    }

    .step__label {
      color: $cl-black87;
    }
  }

  &.is-visited .step__tail {
    background-color: $cl-primary;
  }

  &.is-activated {
    .step__order {
      position: relative;

      &:before {
        content: "";
        @include centered();
        width: 32px;
        height: 32px;
        background-color: rgba($cl-primary, 0.12);
        border-radius: 50%;
      }
    }

    .step__label {
      @include font-desk-h3();
    }

    .step__tail--before {
      background-color: $cl-primary;
    }

    .step__tail--after {
      @include mediaquery--mobile() {
        top: 37px; // 16 + 20 + 1(line-height)
      }
    }
  }

  &.is-first .step__tail--before,
  &.is-last .step__tail--after {
    height: 0;
  }
}
