.stepper {
  display: flex;
  justify-content: space-evenly;

  @include mediaquery--mobile() {
    flex-direction: column;
  }
}

.step {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  border-radius: 4px;
  position: relative;

  @include mediaquery--mobile() {
    flex-direction: row;
    padding-left: 12px;
    padding-right: 12px;
  }

  &:hover,
  &:active {
    background-color: $cl-black8;
  }

  &__label {
    margin-top: 22px;
    color: $cl-black87;
    text-align: center;
    // word-break: break-all;

    @include mediaquery--mobile() {
      margin-top: 0;
      margin-left: 24px;
    }
  }

  &__order {
    @include font-desk-body-sm();
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: $cl-primary;
    border: 2px solid $cl-primary;
    color: $cl-white;
    transition: all ease-in .2s;
}

  &__tail {
    position: absolute;
    height: 2px;
    width: calc(50% - 10px);
    top: 25px; // 20 + 5
    background-color: $cl-primary;
    transition: all ease-in .2s;

    @include mediaquery--mobile() {
      width: 2px;
      height: calc(50% - 10px);
    }

    &--before {
      left: 0;

      @include mediaquery--mobile() {
        left: 21px; // 12 + 10 - 1
        top: 0;
      }
    }

    &--after {
      left: calc(50% + 10px);

      @include mediaquery--mobile() {
        left: 21px;
        top: 36px; // 16 + 20
      }
    }
  }

  &.is-active {
    .step__order {
      position: relative;

      &:before {
        content: "";
        @include centered();
        width: 32px;
        height: 32px;
        background-color: rgba($cl-primary, 0.12);
        border-radius: 50%;
      }
    }

    .step__label {
      @include font-desk-h3();
    }

    .step__tail--after {
      background-color: $cl-primary-light;

      @include mediaquery--mobile() {
        top: 37px; // 16 + 20 + 1(line-height)
      }
    }

    ~ .step {
      .step__order {
        color: $cl-primary-dark;
        background-color: $cl-white;
        border-color: $cl-primary-light
      }

      .step__label {
        color: $cl-black38;
      }

      .step__tail {
        background-color: $cl-primary-light;
      }
    }
  }

  &:first-child .step__tail--before,
  &:last-child .step__tail--after {
    height: 0;
  }
}
